
/*Most made with flexbox and media queries*/
/*Standard is for large and extralarge devices*/

body{
	margin: 0;
	font-family: "Corbel";
	background-color: #addbc0;
}

/*Header with navigation bar*/

header{
	position: fixed;
	width: 100%;
	z-index: 5;
	top: 0;
}


.standardContainer{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	padding: 10px;
	background-color: #addbc0;
}


.logo{
	margin:0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	padding: 10px;
}

.logo a{
	color: white;
	text-shadow: 2px 2px 9px black;
	font-size: 40px;
	margin: 0;
	text-decoration: none;
}




.menuButton{
	color: white;
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
	background-color: #6bcf93;
	margin: 5px;
	border-radius: 3px;
}

.menuButton:hover{
	background-color: black;
	text-decoration: none;
	color: white;
}


footer .menuButton {
	font-size: 15;
}

/*Mobile navigation bar*/


#menuToggle{
	
	padding: 10px;
	cursor: pointer;
	background-color: #addbc0;
	border: none;
	outline:none;
}


#menuImg{
	width: 30px;
}

/*.hiddenNav{ 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: 20px; 

} */
 

/*Introduction section with picture and introduction text
about the site*/

.introContainer{
	position: relative;
	color: white;
	top: 50px;
}

.introContainer h1{
	position: absolute;
	padding: 20px;
	font-size: 30px;
	font-weight: normal;
	text-shadow: 2px 2px 5px black;
	text-align: center;
	top: 10%;
	right: 5%;
	width: 40%;
}


.imageText {
	position: absolute;
	bottom: 0;
	width: 40%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	background: rgba(0, 0, 0, 0.5);
}

.imageText h3{
	font-size: 18;
	font-weight: normal;
}

.imageText p{
	font-size: 15;
}

.introContainer img{
	width: 100%;
	
}

/*The labels/check buttons that displays when screen size
decreases to mobile level*/

#readMoreLabel{
	display: none;
	cursor: pointer;
	width: 30px;
}

#readMoreCheck{
	display: none;
}

#closeLabel{
	display: none;
	cursor: pointer;
	width: 30px;
}


/*Photogallery*/

.galleryFrame{
	background-color: black;
	color: white;
	width: 100%;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 10px;
	font-size: 20px;
}

.gallery{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
}

.gallery a{
	padding: 2px;
	opacity: 0.8;
}

.gallery a:hover{
	opacity: 1;
}

.galleryImg{
	width: 280px;

}

/*Contact form*/
.container{
	padding-top: 60px;
}

fieldset{
	border-radius: 3px;
	margin: 20px;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	background-color: #EBEDF0;
}

legend{
	width: 30%;
	font-size: 20px;
	text-align: center;
	background-color: black;
	color: white;
	border-radius: 3px;
}

label{
	margin:0;

}

.row{
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.row .desLabel{
	font-weight: bolder;
}


.forms-column{
	display: flex;
	align-items: center;
}

select{
	padding: 5px;
	border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    border-radius: 3px;
    margin-left: 5px;
	margin-right: 5px;
}

textarea{
	width: 100%;
	height: 150px;
	padding: 10px 10px;
	border-radius: 3px;
	margin-left: 5px;
	margin-right: 5px;

}

input[type=submit]{
	border: none;
}

input[type=email]{
	padding: 5px;
	width: 65%;
	border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    border-radius: 3px;
    margin-left: 5px;
	margin-right: 5px;
}


input[type=date]{
	padding: 5px 5px;
	border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    border-radius: 3px;
    margin-left: 5px;
	margin-right: 5px;
}

input[type=checkbox]{
    margin-left: 5px;
	margin-right: 5px;
}

/*Footer*/

.bottomBar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	color: grey;
	height: 100px;
	width: 100%;
}

.attribute-section{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.attribute-section a{
	text-decoration: none;
}

/*Large and extra large devices*/
@media (min-width: 993px){
	.standardNav {
		display: flex !important;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding:20px;
	}

	#menuToggle{
		display: none !important;
	}
}

/*Small and Medium devices
Event when screen gets too small for navigation bar*/
/*Standard menu bars disappears and mobile nav bar displays*/

@media (max-width: 992px) { 
    .standardNav { 
        display: flex; 
    	flex-direction: column; 
    	justify-content: center; 
    	align-items: center; 
    	padding: 20px; 
    	flex-basis: 100%;
    } 

    .logo {
    	flex-basis: 50%;
    }

    #menuToggle { 
        display: flex;
        flex-direction: row;
		justify-content: flex-start;
		align-items: center;
        flex-basis: 50%;
    }  

	/*from this screen size and down the font size are static
	to still be readable*/
	.introContainer .imageText h3{
		font-size: 16px;
	} 

	.introContainer .imageText p{
		font-size: 12px;
	} 

	fieldset{
		width: auto;
	}

} 

/*Extra small devices
Event when screen decreases to the level where 
photos are too big to be put next to each orter
and imageText overflows image*/

@media (max-width: 600px){
	.gallery a img{
		width: 150px;
	}

	.introContainer h1{
		font-size: 18px;
	}

	/*Makes image text disappear*/
	.introContainer .imageText p{
		display: none;
	}

	.introContainer .imageText h3{
		font-size: 12px;
	}


	/*Displays "read more"-checkbox*/
	#readMoreLabel{
		display: block;
	}

	/*Display image text when checkbox is clicked*/
	#readMoreCheck:checked ~ p{
		display: block;
	}

	/*Changes checkbox icon to "cancel"*/
	#readMoreCheck:checked ~ #readMoreLabel{
		display: none;
	}

	#readMoreCheck:checked ~ #closeLabel{
		display: block;
	}
}



